* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.companyname {
  visibility: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #c1d5e6;
}

button {
  margin: 30px 0px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  border-radius: 2em;
  cursor: pointer;
  font-size: 15px;
  outline: none;
}

#button {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #c1d5e6), color-stop(50%, #006DD4));
  background: linear-gradient(to right, #c1d5e6 50%, #006DD4 50%);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  background-position: right bottom;
  background-size: 200% 100%;
  width: 150px;
  height: 40px;
  color: #c1d5e6;
  margin-left: 20px;
  text-align: center;
  border: 1px solid #006DD4;
}

#button:hover {
  background-position: left bottom;
  color: #006DD4;
}

#button0 {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #006DD4), color-stop(50%, #c1d5e6));
  background: linear-gradient(to right, #006DD4 50%, #c1d5e6 50%);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  background-position: right bottom;
  background-size: 200% 100%;
  width: 170px;
  color: #006DD4;
  text-align: center;
  border: 1px solid #006DD4;
}

#button0:hover {
  background-position: left bottom;
  color: #c1d5e6;
}

html, body {
  height: 100%;
}

ul {
  list-style-type: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
  font-family: 'ABeeZee', sans-serif;
}

.burger {
  display: none;
  background-color: #e8e8e8;
  border-radius: 50%;
  padding: 10px;
}

.burger div {
  background-color: #191820;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger .line1 {
  width: 20px;
  height: 2px;
  margin-left: 8px;
}

.burger .line2 {
  width: 25px;
  height: 2px;
}

.burger .line3 {
  width: 17px;
  height: 2px;
  margin-left: 10px;
}

#maintext {
  position: relative;
  padding: 0px 70px;
}

#project {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

#project > h2 {
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.1em;
  color: #800020;
}

#text {
  margin-left: 70px;
  position: absolute;
  top: 70%;
  -webkit-transform: translateY(70%);
          transform: translateY(70%);
}

#text > h1 {
  font-family: 'Sofia';
  text-align: left;
  color: #191820;
  font-size: 3.5em;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.3;
}

#text > h4 {
  padding-bottom: 10px;
  text-align: left;
  font-size: 20px;
  color: #191820;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
}

.fa-grin-hearts {
  color: #800020;
  font-size: 50px;
}

.bigdiv {
  display: inline-block;
  width: 45%;
  text-align: center;
  margin: 2.5%;
}

.bigdiv:hover {
  background-color: #006DD4;
  -webkit-animation: scale-down 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-down 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.cloud, .peak {
  width: 500px;
  height: 400px;
}

.divtext {
  margin-top: 30px;
  font-size: 20px;
  color: #191820;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
}

.divtext2 {
  font-family: 'ABeeZee', sans-serif;
  color: #191820;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.3;
  padding-bottom: 25px;
}

.grin {
  float: right;
}

.fas {
  margin-right: 8px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  z-index: 10;
}

.nav-links a {
  text-decoration: none;
  color: #191820;
  padding: 15px;
}

.nav-links a:hover {
  width: 90px;
  background: #76aee2;
  z-index: 50;
  -webkit-transition: background 2s;
  transition: background 2s;
  color: white;
}

#grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 70px auto auto auto auto 50px;
      grid-template-rows: 70px auto auto auto auto 50px;
  height: 100%;
}

#foot {
  text-align: center;
  color: #191820;
  font-family: 'ABeeZee';
  font-size: 1em;
  margin: 20px;
}

.foot {
  padding: 0px 3px;
  border-right: thin solid #191820;
  border-left: thin solid #191820;
}

#about > div > div {
  width: 50%;
}

#about {
  position: relative;
}

#abouthead {
  text-align: center;
  position: absolute;
  margin-top: 8%;
}

#abouthead > h2 {
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.1em;
  color: #800020;
}

#abouttext {
  float: right;
  line-height: 2;
  text-align: left;
  font-size: 19px;
  color: #191820;
  font-family: 'Roboto Slab', serif;
  padding: 50px;
}

#socialmedia {
  text-align: center;
}

#socialmedia > div {
  margin: 30px;
}

#social > a {
  padding: 10px;
}

.fa-envelope, .fa-linkedin {
  color: #191820;
}

.fa-envelope:hover, .fa-linkedin:hover {
  color: #006DD4;
}

#media {
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
}

#pro {
  color: #006DD4;
  padding-left: 10px;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes scale-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes scale-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
/*# sourceMappingURL=index.css.map */